/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*----------------------------------------------------------------*/
body{
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 20em;
  max-width: 100em;
  margin: 0 auto !important; 
}

h1{
  font-size: 3.9em;
  font-family: 'Dosis', sans-serif;
  font-style: bold;
  text-align: center;
  color: #B0B0B0;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

h3{
  font-size: 1.7em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: #B0B0B0;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
}

h2{
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: #B0B0B0;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
}

h4{
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: #B0B0B0;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
}

p{
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  text-align: left;
  color: #B0B0B0;
  padding-bottom: 1em;
  padding-left:2em;
  padding-right:2em;
}

#main{
   max-width: 40em;
   display: block; 
   padding-top: 1em;
   margin-left: auto;
  margin-right: auto;
  max-width: 50em;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
