    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>

                <p>Born in Busan, and residing in Chicago, I am a proud Korean American. If I were to choose 3 words to describe my mind, it would be: nerdy, creative, and passionate. If I were to choose 3 fields of interest, it would be: technology, filmmaking, and philosophy.</p>

                <p>The purpose of this website is to showcase and store my interests in one aggregated location. In the explore section below, there will be 3 separate parts for each of my interests: <b>technology</b>, <b>filmmaking</b>, and <b>philosophy</b>. Of course, this website itself is a showcase for the technology part. Feel free to start exploring by scrolling down!</p>

                <p>I was born in Busan, South Korea, and immigrated to America at the age of 11. That was the first moment of my life where my comfort zone was disrupted. Being from a historically homogenous nation, and immigrating to one of the most diverse nations in the world is not only a drastic change, it is culture-shattering.</p>

                <p>But there was something to it. Something about discovering one’s self by dissecting the cultural DNA. Undoubtedly I am still addicted to it. In college, I took advantage of two study abroad opportunities: once to Germany, and another to China. I have purposefully chosen nations that did not speak the language I spoke, but also had a significant cultural, economic, political impact in the region. The goal was to confirm if my knowledge and perspective on these regions were accurate, and to find my own bias tendencies. I do not plan to stop. I still need to confirm my perspectives on Africa, and the Middle East.</p>

                <p>With the perspectives I gained by learning about different people and cultures, my conclusions of the world became more objective and complete. Though my writing skills cannot match those who specialize in it, I have a couple writings that articulate my conclusions of the world. You can check them out in the philosophy section of ‘Explore’ below.</p>

                <p>If I were to choose one event that defined my life other than birth, it would be the day when I lost my father. Of course I did not understand the meaning of losing a father figure at the age of 15. Maybe I still do not understand it, because the impact this event had on my life is unquantifiable. It completely shattered my comfort zone at first. But after dwelling in discomfort for so long, I made discomfort comfortable. I am finding out now that this event not only shattered my comfort zone, but it also annihilated discomfort. Bit of a yin-yang moment, if you will.</p>

                <p>These life events might be the reason why I have pursued a tech career, because I did not know anything about it. Up until my first Java class in college, I did not understand what coding even was. For all one knows I might just enjoy the state of not knowing. Right now, I am working as a tech consultant at Accenture, working as a software developer role in my current project.</p>

                <p>The reason why I was clueless about the tech field until college was because I was exploring something other than it before college. One might say that, because my parents studied and worked in creative fields like graphic design, and industrial design, I was a natural in the creative field. I certainly cannot agree with that entirely, but I do enjoy art and constantly looked for mediums for my creative outlet. For me, filmmaking seems to be the greatest medium to express my creativity. You can check out some of my video projects in the filmmaking part of ‘Explore’ section below.</p>

                <p>Was it my decision to have deep interests in such different fields? Or was it because of my surroundings and circumstances? Is it a blessing or a curse? For now, the best I can do is continue exploring all of it!</p>

                <p>If I were to choose 3 attitudes towards life, it would be: <b>eager</b>, <b>assertive</b>, and <b>relentless</b>.</p>

                <p>Thank you for your attention and hope you enjoy exploring my projects!</p>
             
            </div>
        </div>
    </section>
