    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Filmmaking</h2>
                    
                    <p>In my view, filmmaking is the greatest medium to express <b>creativity</b>. I started off with <b>video editing</b> back when I couldn't afford a <b>camera</b> in high school. Thankfully these days, I am suffering from severe camera addiction, acquiring an absurd amount of <b>different lenses</b> for my camera system yearly. Here are some of my <b>video projects</b>!</p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/im3P0UebAN8?modestbranding=1&color=white" width="560" height="315" title="Yellowstone Cinematic Travel Film | Fujifilm X-H2S" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <span id="vidtitle"><b>Yellowstone Travel Documentary</b></span>
                    <p id="vidtext">My core identity is to document the people I love in my daily life. But on a special and meaningful trip? They are getting a cinematic feature experience!</p>
                    
                    <a href="https://www.youtube.com/watch?v=fvNuUlr6_NM" class="btn btn-default btn-lg" id="maintitle">Roadtrip in Norway</a>
                    <a href="https://www.youtube.com/watch?v=w_hdfKeHQm4" class="btn btn-default btn-lg" id="maintitle">Autumn in Chicago</a><p></p>

                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/tP5SYh2DBfE?vq=hd1080&modestbranding=1&rel=0&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Study Abroad to China</b></span>
                    <p id="vidtext">Unsurprisingly, this type of filmmaking is my favorite. I was thankfully able to seek multiple study abroad opportunities in my time during college: once to Germany and another to China. I have purposefully chosen nations that did not speak the language I spoke, but also had a significant cultural, economic, political impact in the region. The goal was to confirm if my knowledge and perspective on these regions were accurate, and to find my own bias tendencies. This video is but a short highlight of my time in China.</p>
                  
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" src="//fast.wistia.net/embed/iframe/mvv24k92za?videoFoam=false&amp;autoPlay&amp;popover=false&amp;muted=false&amp;playbar=true"></iframe>
                    </div>
                    <span id="vidtitle"><b>Client Testimonial - Corporate Interview</b></span>
                    <p id="vidtext">During College, I worked part-time at a digital marketing agency based in Chicago. This video is a client testimonial interview for the marketing services offered by OneIMS. This video and the following videos below are filmed and edited by me for this agency.</p>
                 
                    <a href="https://www.youtube.com/watch?v=9eh-wgqqnz4" class="btn btn-default btn-lg" id="maintitle">Video Ad</a>
                    <a href="https://www.youtube.com/watch?v=QxBXeLt_d4k" class="btn btn-default btn-lg" id="maintitle">Event Videography</a><p></p>
                    
                    <!--
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/9eh-wgqqnz4?vq=hd1080&modestbranding=1&rel=0&theme=light&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>All In - Video Ad</b></span>
                    <p id="vidtext">This is a video ad targetted at Chicago's small business owners for a brand awareness campaign.</p>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/QxBXeLt_d4k?vq=hd1080&modestbranding=1&rel=0&theme=light&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>SCORE Business Forum - Event Videography</b></span>
                    <p id="vidtext">This is a business forum event, where many business owners and entrepreneurs gather to share insights and network.</p>
                  
                    <div class="iframe-container">
                       <iframe src="https://www.youtube.com/embed/tGcpb8xsQNc?vq=hd1080&modestbranding=1&rel=0&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Feed IIT - Challenging The School's Catering Services</b></span>
                    <p id="vidtext">Feed IIT is a project I worked on during my senior year in College. The purpose of the project was to raise awareness for a change in the school's catering services. This project resonated with many of the international students at IIT, which makes up nearly half of the entire school. </p>

                    
                    -->
                    
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/Jxhwpg95tc4?modestbranding=1&theme=light&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Honduras Missions Project</b></span>
                    <p id="vidtext">This video is for my church, Chicago Onnuri. Honduras Project is a missionary group from Wheaton College. This video highlights the Honduras Project members from Chicago Onnuri Church. See the following links below for more church videos.</p>

                    <a href="https://www.youtube.com/watch?v=AjVS_gPzX9k" class="btn btn-default btn-lg" id="maintitle">Campus Prayer Group</a>
                    <a href="https://www.youtube.com/watch?v=L3c4lo7zieE" class="btn btn-default btn-lg" id="maintitle">House of Prayer</a><p></p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <p>If you wish to <b>see more</b> of my video projects, the best place is my YouTube channel. Click on the link to my <b>YouTube channel</b> right below. There aren't too many to see, but I promise to <b>create</b> way more videos in the coming years!</p>
                    
                    <a href="https://www.youtube.com/@mattjoofilm" class="btn btn-default btn-lg" id="maintitle">My YouTube Channel</a>
                    <a href="https://www.instagram.com/mattjoofilm/?hl=en" class="btn btn-default btn-lg" id="maintitle">My Instagram Page</a><p></p>

                    <div class="textani">
                        <div class="wrapper">
                            <div class="static-txtq">a</div>
                            <ul class="dynamic-txtn">
                                <li><span>maker.</span></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
