    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Filmmaking</h2>
                    
                    <p>In my view, filmmaking is the greatest medium to express my <b>creativity</b>. I started off with <b>video editing</b> back when I couldn't afford a <b>camera</b>. These days I am also getting into photography as well, which you can check out in my <b>photography</b> IG page in the 'Connect' section on the bottom of the page. For now, here are some of my <b>video projects</b>.</p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/tP5SYh2DBfE?vq=hd1080&modestbranding=1&rel=0&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Study Abroad to China in 2018</b></span>
                    <p id="vidtext">I was thankfully able to seek multiple study abroad opportunities in my time in college: once to Germany and another to China. I have purposefully chosen nations that did not speak the language I spoke, but also had a significant cultural, economic, political impact in the region. The goal was to confirm if my knowledge and perspective on these regions were accurate, and to find my own bias tendencies. This video is but a short highlight of my time to China.</p>
                  
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/rw41le9hh6" width="400" height="225"></iframe>
                    </div>
                    <span id="vidtitle"><b>Corporate Interviews for Digital Marketing</b></span>
                    <p id="vidtext">During College, I worked part-time at OneIMS, a digital marketing agency based in Chicago. I filmed and edited the video above. This video is a client testimonial interview for OneIMS marketing solution.</p>
                 
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/9eh-wgqqnz4?vq=hd1080&modestbranding=1&rel=0&theme=light&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>All In - Video Ad</b></span>
                    <p id="vidtext">This is a video ad targetted at Chicago's small business owners for a brand awareness campaign. I filmed and edited this using Adobe Creative Suite.</p>
                  
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/QxBXeLt_d4k?vq=hd1080&modestbranding=1&rel=0&theme=light&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>SCORE Business Forum - Event Interview</b></span>
                    <p id="vidtext">Filmed and edited the business forum event, where many business owners and entrepreneurs gather to share insights and network. </p>
                  
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                       <iframe src="https://www.youtube.com/embed/tGcpb8xsQNc?vq=hd1080&modestbranding=1&rel=0&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Feed IIT - Challenging School's Catering Services</b></span>
                    <p id="vidtext">Feed IIT is a project I worked on during my senior year in College. The purpose of the project was to raise awareness for a change in the school's catering services. This project resonated with many of the international students at IIT, which makes up nearly half of the entire school. </p>

                    <h3 id="maintitle">•</h3>
                    
                    <p>If you wish to see more of my video projects, the best place is my YouTube channel. Click on the link to my <b>YouTube channel</b> right below. There aren't too many to see, but I promise to create way more videos in the coming years!</p>
                    
                    <a href="https://www.youtube.com/channel/UCNWrMv4BIN1N9uVm-VIUlxA" class="btn btn-default btn-lg" id="maintitle">My YouTube Channel</a>

                    
                    <!--
                    <p>Coming soon!</p>
                    <a href="#contact" class="btn btn-default btn-lg" id="maintitle">Explore More</a>
                    -->
                </div>
            </div>
        </div>
    </section>
