    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Explore</h2>
                    <h6 id="maintitle">Filmmaking • Philosophy • Technology</h6>
                    <h4>Filmmaking</h4>
                    <h4>Philosophy</h4>
                    <h4>Technology</h4>
                    <p>Coming soon!</p>
                    <p>Coming soon!</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
