    <!-- Footer -->
    <footer>
        <div class="container text-center">
            
            <div id="krchar2">
                            
                            <!-- animated   
                            
                            <span class="fade-in-fade-out" id="byebye">ㅈ</span>
                            <span class="fade-in-fade-outa" id="byebye">ㅜ</span>
                            <span class="omit">ㅜ</span>
                            
                            <br>

                            
                            <span class="fade-in-fade-out2" id="byebye">ㅁ</span>
                            <span class="fade-in-fade-out2a" id="byebye">ㅣ</span>
                            <span class="fade-in-fade-out2b" id="byebye">ㄴ</span>
                            
                            <br>
                            
                            <span class="fade-in-fade-out3" id="byebye">ㅎ</span>
                            <span class="fade-in-fade-out3a" id="byebye">ㅕ</span>
                            <span class="fade-in-fade-out3b" id="byebye">ㄱ</span>
                            
                            <br>
                
                            -->  
                
                            <span id="byebye">ㅈ</span>
                            <span id="byebye">ㅜ</span>
                            <span class="omit">ㅜ</span>
                            
                            <br>

                            
                            <span id="byebye">ㅁ</span>
                            <span id="byebye">ㅣ</span>
                            <span id="byebye">ㄴ</span>
                            
                            <br>
                            
                            <span id="byebye">ㅎ</span>
                            <span id="byebye">ㅕ</span>
                            <span id="byebye">ㄱ</span>
                            
                            <br>
                
                        </div>
            
            <div class="copyr">
                <p id"copyt">Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
            </div>
        </div>
    </footer>
