    <!-- Footer -->
    <footer>
        <div class="container text-center">
            
            <div id="krchar">
                            
                            <!-- <span>&nbsp</span> -->    
                            
                            <span class="fade-in-fade-out" id="hihi">ㅈ</span>
                            <span class="fade-in-fade-outa" id="hihi">ㅜ</span>
                            <span class="fade-in-fade-outb" id="hihi">ㅜ</span>
                            
                            <br>

                            
                            <span class="fade-in-fade-out2" id="hihi">ㅁ</span>
                            <span class="fade-in-fade-out2a" id="hihi">ㅣ</span>
                            <span class="fade-in-fade-out2b" id="hihi">ㄴ</span>
                            
                            <br>
                            
                            <span class="fade-in-fade-out3" id="hihi">ㅎ</span>
                            <span class="fade-in-fade-out3a" id="hihi">ㅕ</span>
                            <span class="fade-in-fade-out3b" id="hihi">ㄱ</span>
                            
                            <br>
                        </div>
            
            <div class="copyr">
                <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
            </div>
        </div>
    </footer>
