    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <!--
                        <h1 class="brand-heading">{{ site.title }}</h1

                        {{ site.description }}
                        -->
                        <p class="intro-text"> </p>
                        <div id="krchar">
                            <span>&nbsp</span><span>&nbsp</span>
                            
                            <span class="fade-in-fade-out" id="hihi">ㅈ</span>
                            <span class="fade-in-fade-outa" id="hihi">ㅜ</span>
                            <span class="fade-in-fade-outb" id="hihi">ㅜ</span>
                            
                            <br>
                            <span>&nbsp</span><span>&nbsp</span>
                            
                            <span class="fade-in-fade-out2" id="hihi">ㅁ</span>
                            <span class="fade-in-fade-out2a" id="hihi">ㅣ</span>
                            <span class="fade-in-fade-out2b" id="hihi">ㄴ</span>
                            
                            <br>
                            <span>&nbsp</span><span>&nbsp</span>
                            
                            <span class="fade-in-fade-out3" id="hihi">ㅎ</span>
                            <span class="fade-in-fade-out3a" id="hihi">ㅕ</span>
                            <span class="fade-in-fade-out3b" id="hihi">ㄱ</span>
                            
                            <br>
                        </div>
                            
                        <a href="#about" class="btn btn-circle page-scroll" id="arrow">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
