    <!-- About Section -->
    <section id="philosophy" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" id="maintext">
                <h2 id="maintitle">Philosophy</h2>
                
                <p>As a fiercely curious individual, I never ceased to question everything around me. But one can only dwell in the sea of unknowns for so long until discovering a <b>revelation</b>. Though that revelation is hard to translate in words efficiently, I have formed concrete ways to view <b>tangible</b> topics in our <b>reality</b>. Here are some of my attempts to express that.</p>
                
                <p>Coming Soon!</p>
                
                <a href="read.html" class="btn btn-default btn-lg" id="reader">Read HTML</a>
                <a href="/read.html" class="btn btn-default btn-lg" id="reader">Read HTML2</a>
                <a href="../read.html" class="btn btn-default btn-lg" id="reader">Read HTML3</a>
                
                <a href="#" class="btn btn-default btn-lg" id="reader">Read Article</a>
                
                <p>Coming Soon!</p>
                
                <div class="bg-modal">
                    <div class="modal-contents">

                        <div class="close">+</div>

                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p><p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p><p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p><p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p><p>Coming Soon!</p>
                        <p>Coming Soon!</p>
                        <p>Coming Soon!</p>

                    </div>
                </div>
                
                <p>Coming Soon!</p>
            </div>
        </div>
    </section>
