    <!-- Download Section -->
    <section id="philosophy" class="content-section text-center">
        <div class="phil-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Philosophy</h2>

                    <p>As a fiercely <b>curious</b> individual, I never ceased to <b>question</b>. But one can only dwell in the sea of unknowns for so long until discovering a <b>revelation</b>. Though that revelation is hard to translate in words efficiently, I have formed concrete ways to view <b>tangible</b> topics in our <b>reality</b>. Here are some of my attempts to express that.</p>

                    <h3 id="maintitle">•</h3>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75">
                        <img src="../../img/rorgray.jpg" alt="Root of Racism" id="philimg">
                    </a>
                    <span id="vidtitle"><b>The Root of Racism</b></span>
                    <p id="vidtext">Coming Soon!</p>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75" class="btn btn-default btn-lg" id="reader">Read Article</a><p> </p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75">
                        <img src="../../img/coexdau.jpg" alt="Dy" id="philimg">
                    </a>
                    <span id="vidtitle"><b>Coexistence of Utopia and Dystopia</b></span>
                    <p id="vidtext">Coming Soon!</p>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75" class="btn btn-default btn-lg" id="reader">Read Essay</a><p> </p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    
                    <img src="../../img/bookcover.jpg" alt="Dy" id="philimg">
                    
                    <span id="vidtitle"><b>Zero O'Clock</b></span>
                    <p id="vidtext">Coming (Not So) Soon!</p>
                    
                    <h3 id="maintitle">•</h3>

                    <p>Coming Soon!</p>
                    
                    <div class="textani">
                        <div class="wrapper">
                            <div class="static-txt">A</div>
                            <ul class="dynamic-txt">
                                <li><span>thinker.</span></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
