    <!-- Download Section -->
    <section id="philosophy" class="content-section text-center">
        <div class="phil-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Philosophy</h2>

                    <p>As a fiercely <b>curious</b> individual, I never ceased to <b>question</b>. But one can only dwell in the sea of unknowns for so long until discovering a <b>revelation</b>. Though that revelation is hard to translate in words efficiently, I have formed concrete ways to view <b>tangible</b> topics in our <b>reality</b>. Here are some of my attempts to express that.</p>

                    <h3 id="maintitle">•</h3>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75">
                        <img src="../../img/rorgray.jpg" alt="Root of Racism" id="philimg">
                    </a>
                    <span id="vidtitle"><b>The Root of Racism</b></span>
                    <p id="vidtext2">It is challenging to avoid the topic of racism while living in America, especially as a minority. Perhaps being an East Asian is the easiest way to be objective about it, considering that many East Asian countries practiced isolationism until the modern era. In layman’s terms, isolationism is the reason why East Asians weren’t “in the race war” until now.</p>
                    <p id="vidtext">This writing attempts to combine all of the knowledge I have on different ethnic groups, dissecting its cultural DNA, and objectively defining what is a race and what is a culture. This writing not only talks about racism, but also defines what the root cause is, and how to resolve it. But before considering if it is even humanly possible, should racism be solved? And at what cost?</p>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75" class="btn btn-default btn-lg" id="reader">Read Article</a><p> </p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75">
                        <img src="../../img/coexdau.jpg" alt="Dy" id="philimg">
                    </a>
                    <span id="vidtitle"><b>Coexistence of Utopia and Dystopia</b></span>
                    <p id="vidtext2">In philosophy, it’s not rare to come across terms like utopia and dystopia. Extreme-polar-ends terms like these are a fundamental logical makeup of the universe. But the more depth in reason you dig into, the more similar these two polar ends become. For example, if I were to call everyone I know as my best friends, are there any best friends left? Because everyone is my best friend, no one is. If everyone had an infinite amount of money, it is as if no one has any, also known as inflation. Just like how every departure is an arrival.</p>
                    <p id="vidtext">This writing explains why what seems utopic is actually dystopian, and vice versa, particularly using surveillance society as examples. What protects my privacy more? Locking up my information in a secured chest and hiding it under my bed? Or dumping my information in the ocean of information? This was my final essay for a philosophy class in college, but I like what I wrote so I'm sharing it here.</p>
                    
                    <a href="https://medium.com/@joomhmatt/test-17a76e915f75" class="btn btn-default btn-lg" id="reader">Read Essay</a><p> </p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    
                    <img src="../../img/bookcover.jpg" alt="Dy" id="philimg">
                    
                    <span id="vidtitle"><b>Zero O'Clock</b></span>
                    <p id="vidtext"><b>Coming (Not So) Soon!</b> This is going to be more of a book in terms of length. Essentially this book will be a fully developed version of the above essay. It will fully explore what the coexistence of the polar ends mean in our daily lives, including the very definition of what humanity means, how it began, where it’s going, and how it would end. And how that beginning is the ending, like how Zero O’Clock is the 12 O’Clock. P.S. This will take at least a couple of years… oof.</p>
                    
                    <h3 id="maintitle">•</h3>

                    <p>Philosophy isn’t a <b>hobby</b> you can easily express to people around you. But I am so <b>passionate</b> about it so I started <b>writing</b> it down, which seems like the only thing I can think of to <b>actualize</b> my passion for it. I was born atheist, but became Christian, ironically through <b>secular philosophy</b>.</p>
                    <p>Since when I was in middle school, it always bothered me that in history classes, who was a <b>hero</b> for one nation was a <b>villain</b> for another. I felt the need to discover an <b>objective</b> way to view the world. By the end of my high school years, I had fully developed my own mixture of <b>nihilism</b>, <b>relativism</b>, and <b>existentialism</b> without even knowing the meaning of those words nor the philosophers behind it. I knew that I had reached the end of reasoning with it, but I was severely <b>disappointed</b>. Because I found out that, in the secular world, what is the most objective is to be completely <b>subjective</b>.</p>
                    <p>My disappointment led to more reasoning. After researching all of the major <b>religions</b> and philosophies, both alive and dead, I landed on <b>Christianity</b>. I never looked back ever since. I am a “secular-existentialist-turned-Christian-apologist”, objectively <b>defending</b> my Christian <b>faith</b> in the most secular way. If you want to <b>discuss</b> any of these topics, please reach out to me via the links found in the ‘Connect’ section on the bottom of the page!</p>
                    
                    <div class="textani">
                        <div class="wrapper">
                            <div class="static-txt">a</div>
                            <ul class="dynamic-txt">
                                <li><span>thinker.</span></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
