    <!-- Download Section -->
    <section id="technology" class="content-section text-center">
        <div class="tech-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="maintext">
                    <h2 id="maintitle">Technology</h2>
                    
                    <p>I cannot give you a solid reason nor a cause as to why I pursued a <b>tech career</b> amongst all of my other passions. But certainly one major reason was because I found the shroud of <b>mystery</b> surrounding technology immensely <b>fascinating</b>. As a high schooler, I couldn't understand how people didn't find the internet <b>mind boggling</b> when they did not understand how it worked. Isn’t it literally <b>magical</b>?</p>
                    
                    <p>Up until my first <b>Java</b> class in <b>college</b>, I did not understand what <b>coding</b> even was. Because I felt that my <b>knowledge</b> in technology was so trivial, it fueled my need to continue learning what I couldn’t <b>understand</b> back then. For all I know I might just enjoy the state of not <b>knowing</b> and the process of <b>learning</b>. Right now, I am a <b>Program Manager</b> at Google, being the liaison between product managers and <b>engineering</b> teams across the <b>Google</b> org.</p>
                    
                    <p>For security reasons, I cannot showcase my actual professional work, but here are some of my old <b>school projects</b> and personal projects!</p>

                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/4QW7U2-Vu0g?vq=hd1080&modestbranding=1&rel=0&color=white" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>Munchie Buddies (App Mockup)</b></span>
                    <p id="vidtext">Munchie Buddies is an app that splits food delivery fees with people around you. It is a real-time location-based group deal listing app for food delivery. This was one of the projects I worked on in my senior year in College, and it was for an IT Entrepreneurship course. Also, do note that this video and the idea was created long before UberEats introduced the delivery share feature. Just saying. :)</p>
                  
                    <h3 id="maintitle">•</h3>
                    
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/JCcIkMQ1BAA?modestbranding=1&rel=0&theme=light" width="560" height="315" frameborder="0"></iframe>
                    </div>
                    <span id="vidtitle"><b>My Android Home UI/UX</b></span>
                    <p id="vidtext">I enjoy setting up and personalizing my own space, which includes the home of my phone. I had many different setups in the past but this is my current.</p>
                  
                    <h3 id="maintitle">•</h3>
                    
                    <a href="https://github.com/minhyukjoo/minhyukjoo.github.io">
                        <img src="../../img/wpss.jpg" alt="Dy" id="philimg">
                    </a>
                    <span id="vidtitle"><b>My Personal Website</b></span>
                    <p id="vidtext">Of course, this website itself is one tech project showcase. This was in my to-do list for so long but have been procrastinating. Very satisfied with how it turned out. Nothing too fancy, just functional with enough beautification. But of course, I will keep improving and updating it. (Wish me luck)</p>
                    
                    <a href="https://github.com/minhyukjoo/minhyukjoo.github.io" class="btn btn-default btn-lg" id="reader">GitHub Repo</a><p> </p>
                    
                    <h3 id="maintitle">•</h3>
                    
                    <p>I must admit, this section is the most lackluster in comparison to my other passions, possibly because it feels like "<b>work</b>". But I promise I will continue to work on more personal Tech projects! You can check out my <b>LinkedIn profile</b> for the detailed view on my <b>professional experience</b>.</p>
                    
                    <a href="https://www.linkedin.com/in/mattjoo/" class="btn btn-default btn-lg" id="maintitle">My LinkedIn Profile</a>
                    
                    <div class="textani">
                        <div class="wrapper">
                            <div class="static-txtl">a<span id="le0">n</span></div>
                            <div class="dynamic-txtl">
                                <span id="le1">l</span><span id="le2">ear</span><span id="le3">n</span><span id="le4">e</span><span id="le5">r</span><span id="le6">.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
